./old_files
./__pycache__
./pypy_versions
./pypy_misc
old_files/*
pypy_versions/*
pypy_misc/*
dissertation/*
!dissertation/Implementation*
sort_times/workingfinal_alwaysinsert_workingfinal_neverinsert_0.json
sort_times/workingfinal_13.json
sort_times/workingfinal_21.json
sort_times/workingfinal_20.json
sort_times_in_diss/lengthgraphs1e5.json
video/__pycache__/*
video/media/*
video/tmp/*
!pypy_versions/lsd_c_10_production