./old_files
./__pycache__
./pypy_versions
./pypy_misc
old_files/*
pypy_versions/*
pypy_misc/*
dissertation/*
!dissertation/Implementation*
sort_times/workingfinal_alwaysinsert_workingfinal_neverinsert_0.json
sort_times/workingfinal_13.json